@font-face {
    font-family: Blanka;
    src: url("public\Blanka.woff") format("woff"), url("public\Blanka.ttf") format("truetype");
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

html {
    height: 100%;
    /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%); */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    text-align: center;
    padding: 0.5rem 0;
}

body {
    color: #fff;
    font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}

p{
    line-height: 1.5rem;
}
header a{
    font-size: 2.5rem;
}

h1 {
    font-family: Blanka;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


section {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about {
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-me {
    width: 60vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px 15px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #0fa0ec;
    box-shadow: 0 0 15px 2px #0fa0ec;
    box-shadow: inset 0 0 15px 2px #0fa0ec,
        0 0 15px 2px #0fa0ec;
    text-align: center;
    display: flex;
    align-items: center;


}

.about-me h1 {
    margin: 1rem;
}

.portrait {
    flex-basis: 35%;
    overflow: hidden;
    background-image: url(portrait.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 0 1rem 0.5rem #000000;
    box-shadow: inset 0 0 1rem 0.5rem #000000,
        0 0 15px 2px #000000;
}


.text {
    flex-basis: 65%;
    padding: 4rem;
}

#projects {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 80%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 1rem;
    background: #f20b0b;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide a{
    background-image: url(portrait.jpg);
    /* background: blue; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#projects h1{
    margin: 1rem;
}

/* Top nav bar */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

* {
    margin: 0;
    padding: 0;
}


/* This class is added on scroll */
.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}

/* Navigation Settings */
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #fff;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}


/* end of top nav bar */

/* Animation of sub head title */


.subheading-container {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ecf0f1;
    overflow: hidden;
    height: 1.5rem;
    /* padding: 0 40px; */
}

/* 
.subheading-container::before {
    content: "[";
    top:51.5vh;
    left: 37vw;
  }

  .subheading-container::after {
    content: "]";
    position: absolute;
    right: 40vw;
    top:51.5vh
  }

  .subheading-container::after,
  .subheading-container::before {
    position: absolute;

    color: #16a085;
    font-size: 2.2rem;
    line-height: 1.5rem;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  } */

.subheading-text {
    display: inline;
    float: left;
    margin: 0;
}

.subheading-list {
    margin-top: 0;
    padding-left: 1.9rem;
    text-align: left;
    list-style: none;

    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.subheading-list-item {
    line-height: 1.5rem;
    margin: 0;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}


@-o-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

/* end of sub head title */
