@font-face {
    font-family: Blanka;
    src: url("/res/fonts/Blanka.woff") format("woff"), url("/res/fonts/Blanka.ttf") format("truetype");
}

@font-face {
    font-family: didact;
    src: url("/res/public/fonts/DidactGothic-Regular.ttf") format("ttf");
}

@font-face {
    font-family: poppins;
    src: url("/res/public/fonts/Poppins-ExtraLight.ttf") format("ttf");
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

html {
    height: 100%;
    /* background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%); */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding: 0.5rem 0;
}

body {
    cursor: url(/res/pics/cursor-30.png), auto;
    color: #fff;
    font-family: didact, sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1;
    scroll-snap-type: y mandatory;
}

p {
    line-height: 1.5rem;
}

header a {
    font-size: 2.5rem;
}

h1 {
    font-family: Blanka;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: poppins;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    font-size: 1rem;
    font-weight: normal;
}

section {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

#about {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    scroll-snap-align: start;


}

.about-me {
    width: 50vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px 15px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #0fa0ec;
    box-shadow: 0 0 15px 2px #0fa0ec;
    box-shadow: inset 0 0 15px 2px #0fa0ec,
        0 0 15px 2px #0fa0ec;
    text-align: center;
    display: flex;
    align-items: center;


}

.about-me h1 {
    margin: 1rem;
}

.portrait {
    flex-basis: 35%;
    overflow: hidden;
    background-image: url(/res/pics/portrait.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 0 1rem 0.5rem #000000;
    box-shadow: inset 0 0 1rem 0.5rem #000000,
        0 0 15px 2px #000000;
}


.text {
    flex-basis: 65%;
    padding: 4rem;
}

#projects {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* background-color: #29439f; */
}

.swiper {
    width: 90%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .swiper-slide a {
    background-image: url(portrait.jpg);
    background: blue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
} */

#projects h1 {
    margin: 1rem;
}

.box {
    width: 100%;
    height: 100%;
    border: 1px solid #eeeeee;
    background-color: transparent;
    perspective: 1000px;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.box:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front,
.box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.box-front {
    color: #111111;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-front h2{
    width: 100%;
    background-color: #000;
    line-height: 3rem;
}
.box-back {
    color: #eeeeee;
    transform: rotateY(180deg);
    background-color: #000000;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem
}

.box-front.p1 {
    background-image: url(/res/pics/quiz.jpg);
}

.box-front.p2 {
    background-image: url(/res/pics/portfolio.jpg);
}

.box-front.p3 {
    background-image: url(/res/pics/privacy.jpg);
}

.box-front.p4 {
    background-image: url(/res/pics/classroom.jpg);
}

.box-front.p5 {
    background-image: url(/res/pics/simulation.jpg);
}

.box-front.p6 {
    background-image: url(/res/pics/messaging.jpg);
}

.box-front.p7 {
    background-image: url(/res/pics/postfix-infix.jpg);
}

.box-front.p8 {
    background-image: url(/res/pics/huffman.jpg);
}



.box-back .fa.fa-github {
    font-size: 3rem;
    color: white;
}

/* Top nav bar */

.fixed {
    position: fixed;
    top: 0;
    height: 4.55rem;
    z-index: 100;
}

/* Navigation Settings */
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: black;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

nav li {
    display: inline-block;
    padding: 1.8rem 1.5rem;
}

nav li a {
    color: #8e8e8e;
    text-transform: uppercase;
    text-decoration: none;
}

/* Border X get width  */


nav li a:hover {
    color: white;
    text-decoration: underline;
}


/* end of top nav bar */

/* Animation of sub head title */


.subheading-container {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #ecf0f1;
    overflow: hidden;
    height: 1.5rem;
    /* padding: 0 40px; */
}

/* 
.subheading-container::before {
    content: "[";
    top:51.5vh;
    left: 37vw;
  }

  .subheading-container::after {
    content: "]";
    position: absolute;
    right: 40vw;
    top:51.5vh
  }

  .subheading-container::after,
  .subheading-container::before {
    position: absolute;

    color: #16a085;
    font-size: 2.2rem;
    line-height: 1.5rem;

    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  } */

.subheading-text {
    display: inline;
    float: left;
    margin: 0;
}

.subheading-list {
    margin-top: 0;
    padding-left: 1.9rem;
    text-align: left;
    list-style: none;

    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.subheading-list-item {
    line-height: 1.5rem;
    margin: 0;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}


@-o-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

/* end of sub head title */

.section-header {
    margin: 2rem;
}

/* contact form */
.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    padding: 1rem;
    position: relative;
    width: 60vw;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    font-family: 'Lato';
}

.form-control,
textarea {
    width: 90%;
    padding: 1rem;
    margin: 0.8rem;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}

.form-group {
    width: 100%;
}

.send-button {
    margin-top: 1rem;
    height: 3rem;
    width: 12rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 1rem 'Lato', sans-serif;
    letter-spacing: 2px;
}

.fa.fa-paper-plane {
    margin: 0.4rem;
    font-size: 2rem;
}

.alt-send-button:hover {
    transform: translate3d(0px, -40px, 0px);
}

/* Right Contact Page */
.direct-contact-container {
    width: 40%;
}

/* Location, Phone, Email Section */
.contact-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.list-item {
    line-height: 4.5rem;
    color: #aaa;
}

.contact-text {
    font: 300 1rem 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 1rem;
}

.phone {
    margin-left: 1rem;
}

.gmail {
    margin-left: 1rem;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0.8rem 0.3rem;
    line-height: 3.5rem;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    z-index: -1;
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

hr {
    border-color: rgba(255, 255, 255, 0.6);
    width: 20%;
}

.direct-contact-container hr {
    margin: 0.5rem;
    width: 100%;
}

/* Media Queries*/
/* Styles for screens with a maximum width of 600px */
@media screen and (max-width: 1350px) {
    p{
     font-size: 1rem
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .text{
        padding: 1rem ;
    }

    h3{
        font-size: 0.8rem;
    }

  }

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
        width: 100%;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .about-me{
        flex-direction: column;
        height: 80vh;
        gap: 0rem;
        
    }

}
@media  (max-width: 620px) {
    .about-me{
        width: 80vw;
    }
    .portrait{
        box-shadow: none;
        border: none;
    }
    
}
@media(max-width: 500px) {
    
    nav li{
        font-size: 1rem;
        padding: 1.5rem 0.7rem;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {

        margin: 0 auto;
    }


    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

   

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
    nav ul li{
        padding: 1.5rem 0.5rem;   
    }
    .fixed{
        line-height: 1rem;
    }
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1rem;
    }
    .box-back{
        gap: 2rem
    }

}

/* Contact form */


footer {
    background-color: #000;
    line-height: 1rem;
    bottom: 0;
}


